<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<!-- <select id="boardlist" resultType="BoardVO">
		SELECT * FROM BOARD ORDER BY TEST desc
	</select> -->

	<select id="boardlist" parameterType="PagingVO" resultType="BoardVO">
		SELECT TEST,NAME,TITLE,CONTENT,HIT,BDATE FROM(SELECT CEIL(ROWNUM/5) PAGE, A.* FROM( SELECT * FROM BOARD 
		ORDER BY TEST DESC) A) WHERE PAGE = #{current_page}
	</select>
	
	<select id="boardcount" resultType="Integer">
		SELECT COUNT(TEST) AS BOARD_COUNT FROM BOARD
	</select>
	
	<select id="boarddetail" parameterType="Integer" resultType="BoardVO">
		SELECT * FROM BOARD WHERE TEST=#{TEST}
	</select>
	
	<update id="boarduphit" parameterType="Integer">
		UPDATE BOARD SET HIT = HIT + 1 WHERE TEST = #{TEST}
	</update>
	
	<update id="boardupdate" parameterType="BoardVO">
		UPDATE BOARD SET NAME=#{name}, TITLE=#{title}, CONTENT=#{content} WHERE TEST =#{test}
	</update>
	
	<insert id="boardinsert" parameterType="BoardVO">
	INSERT INTO BOARD (name,title,content,hit,test) 
	values (#{name},#{title},#{content},0,board_seq.nextval)
	<selectKey keyProperty="test" resultType="Integer" order="AFTER">
		SELECT board_seq.currval FROM dual
	</selectKey>
	
	</insert>
	
	<delete id="boarddelete" parameterType="Integer">
		DELETE FROM BOARD WHERE TEST=#{TEST}
	</delete>
	
</mapper>